.jumbotron{
  padding-top: 6rem;
}
.jumbotron .rounded-circle {
  border: 10px solid #ffd700;
}
.about,
.contact {
  background-color: #ffd700;
}
.myproject,
footer {
  background-color: #f3f4f5;
}
section {
  padding-top: 5rem;
}
.contact .container{
  border: 2px solid red";
}
.container #navbarNav ul li a{
  border-radius: 10px;
}
.container #navbarNav ul li a:hover{
  background-color: #ffd700; 
  border-radius: 10px;
}
.container #navbarNav ul li{
  padding: 0px 5px;
  border-radius: 10px;
}
